@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.App {
  font-family: "Indie Flower", cursive;
  text-align: center;
  color: #f87171;
  background: white;
  max-width: 450px;
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  font-weight: bolder;
  opacity: 0.9;
}

body {
  background: url("/gestures.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
